
    {{ $link := .RelPermalink }}
    {{ $subtitle := "" }}
    
    {{ with .Description }}
        {{ $subtitle = . }}
    {{ end }}

    {{ with .Params.thumbnail }}
        {{ $.Scratch.Set "thumbnail" . }}
    {{ else }}
        {{ $.Scratch.Set "card_color" (index (shuffle $.Site.Data.theme_learner.site.card_colors) 1) }}
        {{ $.Scratch.Set "placeholder_url" ( delimit (slice "https://via.placeholder.com/512x320" ($.Scratch.Get "card_color") "FFFFFF?text") "/") }}

        {{ $.Scratch.Set "thumbnail" (delimit (slice ( $.Scratch.Get "placeholder_url") .Title) "=") }}
    {{ end }}

    <div class="col mb-4 my-4">
        <div class="card h-100">
            <img src={{ .Scratch.Get "thumbnail" }} class="card-img-top" alt={{ .Title }}>
            <div class="card-body">
              <h5 class="card-title">{{ .Title }}</h5>
              <p class="card-text">{{ $subtitle }}</p>
              <a href="{{ $link }}" class="btn btn-dark stretched-link">Go to this {{ .Section | singularize }}</a>
            </div>
            <div class="card-img-overlay">
                <small class="badge badge-info">{{ .Params.Levels }}</small>
            </div>
        </div>
    </div>

