<div>
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark" style="background-color: {{ $.Site.Data.theme_learner.site.navbar_color }};">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu" aria-controls="navbarTogglerMainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
        {{ $currentPage := . }}
        <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {{ if .IsHome}}active{{end}}">
                    <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}">Home</a>
                </li>
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
                            <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              {{ range .Children }}
                              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                              {{ end }}
                            </div>
                        </li>
                    {{ else }}
                        <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
                            <a class="nav-link" href="{{.URL}}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
            {{ partial "search" . }}
        </div>
    </nav>
</div>
