{{ if or .Paginator.HasPrev .Paginator.HasNext }}

{{ $prevClass :=""}}
{{ $prevURL := "" }}
{{ $nextClass :=""}}
{{ $nextURL := "" }}

<div class="container">
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {{ if .Paginator.HasPrev }}
                {{ $prevClass =""}}
                {{ $prevURL = .Paginator.Prev.URL }}
            {{ else }}
                {{ $prevClass ="disabled"}}
                {{ $prevURL = "#" }}
            {{ end }}

            <li class="page-item {{ $prevClass }}">
                <a class="page-link" href="{{ $prevURL }}" rel="prev">
                    <i class="fa fa-arrow-left"></i>Prev
                </a>
            </li>

            {{ $paginator := .Paginator }}
            {{ range .Paginator.Pagers }}
                {{ if eq $paginator.PageNumber .PageNumber}}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ $paginator.PageNumber }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {{ else }}
                    <li class="page-item">
                        <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
                    </li>
                {{ end }}
            {{ end }}

            {{ if .Paginator.HasNext }}
                {{ $nextClass =""}}
                {{ $nextURL = .Paginator.Next.URL }}
            {{ else }}
                {{ $nextClass ="disabled"}}
                {{ $nextURL = "#" }}
            {{ end }}
            <li class="page-item {{ $nextClass }}">
                <a class="page-link" href="{{ $nextURL }}" rel="next">
                    Next <i class="fa fa-arrow-right"></i>
                </a>
            </li>
        
        </ul>
    </nav>
</div>

{{ end }}