{{ partial "combine-header-menu" . }}

<main>
    <div class="container">
        {{ partial "breadcrumbs" .}}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
        <h3>Course Contents</h3>
        <ul class="list-group">
            {{ range .Pages }}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        {{ .Title }} - {{ .Params.Description }}
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-sm btn-primary float-right" href={{ .Permalink }}>Start chapter</a>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>

</main>

{{ partial "footer" . }}
